.cabeçalho {
    background-color: #2d6272;
    color: black;
    display: flex;
    padding: 10px;
    justify-content: space-around;
}
.cabeçalho-imagem {
width: 20%;
height: 15%;
}
* {
    margin: 0;
    padding: 0;
}
.cabeçalho-item {
    display: inline-block;
    font-size: 35px;
    padding: 0 0 0 30px;
}
.escola-imagem {
    width: 30%;
}

.escola {
background-image: linear-gradient(#2d6272 , #73a5b4);
color: black;
font-size: 30px;
padding: 300px 250px;
}
.escola-titulo {
    padding: 24px 0;
}